<!-- <p>basic-page works!</p> -->
<p-panel header="Pipes básico" class="p-1">
    <p>Pipes incluídos en angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid mt-2">
    <div class="col-4">
        <p-card header="uppercase">
            {{ nameLower | uppercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase">
            {{ nameUpper | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase">
            {{ fullName | titlecase }}
        </p-card>
    </div>
</div>
